<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Huawei Health Kit permissions -->
    <uses-permission android:name="com.huawei.permission.HEALTHKIT_STEP_READ" />
    <uses-permission android:name="com.huawei.permission.HEALTHKIT_SLEEP_READ" />
    <uses-permission android:name="com.huawei.permission.HEALTHKIT_HEARTRATE_READ" />
    <uses-permission android:name="com.huawei.permission.HEALTHKIT_STRESS_READ" />
    <uses-permission android:name="com.huawei.permission.HEALTHKIT_OXYGEN_READ" />
    <uses-permission android:name="com.huawei.permission.HEALTHKIT_ACTIVITY_RECORD_READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.HUAWEIKYOUYU">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
